{% extends "base.html.twig" %}

{% block title %}Mon intro agence{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <div>
            <H1>Ma méga introduction</H1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia quisquam dolore voluptatum corrupti beatae obcaecati, laudantium quos nesciunt excepturi eaque eveniet doloremque in ut magnam culpa saepe? Voluptatem, voluptate. </p>
        </div>
    </div>

    <div class="container">
        <h2 class="pb-2">Les Derniers Biens proposés</h2>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title}}</a>
                            </h5>
                            <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                            <div class="text-primary" style="font-weight: bold; font-size: 2rem ">{{ property.formattedPrice }} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
